* {
    margin: 0;
    padding: 0;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: .95;
}

.back-image{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.form-div{
    font-size: 30pt;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-95%, -65%);
    color: black;
    /*background-image: url('/static/ayaya.png')*/
}

.second-form-div{
    position: absolute;
    left: 100px
}

.textbox-size{
    height: 20px;
    width: 200px;
    font-size: large;
}

.numberbox-size{
    height: 20px;
    width: 30px;
    font-size: medium;
}



/* CSS */
.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  top: 20px;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.header{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -500%);
    font-family: monospace;
    font-size: 64px;
    color: rgb(255, 107, 211);
}