<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<body>
    <video autoplay loop plays-inline class="back-video">
        <source src={{ url_for('static', filename="Piplup.mp4") }} type="video/mp4">
      </video>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" 
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" 
    crossorigin="anonymous"></script>
    <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">ANIME CHARACTER GUESSING GAME :D</p>
    <p>
    <form action="#" method="POST" class="second-form-div">
        {% for i in range(questions) %}
            <p> ------ </p>
            <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Which of these characters is from {{shows[i]}}</p>
            <label for="username" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Which answer choice?</label>
            <input type="text" name={{i}} id={{i}} placeholder={{i}} class="textbox-size" required>
            {% for i in range(options) %}
                <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">{{i + 1}}. {{characters[i]}}</p>
            {% endfor %}
        {% endfor %}
    </p>
    <button class="button-21" type="submit">Submit</button>
    <button class="button-21" type="reset">Reset</button>
    </form>
</body>
</html>