<!DOCTYPE html>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
  </head>
  <body>
    <video autoplay loop muted plays-inline class="back-video">
      <source src={{ url_for('static', filename="pikachuVideo.mp4") }} type="video/mp4">
    </video>
    <header class="header">Welcome to the Website!</header>
    <div class="form-div">
      <form action="#" method="POST">
        <div>
          <label for="game">Which game?</label>
          <select name="game" id="game" style="height: 25px;">
            <option value="characterGuess">Character Guessing Game</option>
            <option value="scoreGuess">Friend Score Guessing Game</option>
          </select>
        </div>
        <div>
          <label for="username">Whose list?</label>
          <input type="text" name="username" id="username" value="444mike" class="textbox-size" required>
        </div>
        <div>
          <label for="questions">How many questions?</label>
          <input type="number" name="questions" id="questions" value="4" min="0" max="20" class="numberbox-size">
        </div>
        <div>
          <label for="options">How many options?</label>
          <input type="number" name="options" id="options" value="4" min="0" max="10" class="numberbox-size">
        </div>
        <div>
          <label for="favorites">How far down favorites list?</label>
          <input type="number" name="favorites_depth" id="favorites" value="5" min="0" max="20" class="numberbox-size">
        </div>
        <div>
          <label for="minimum">Minimum show rating?</label>
          <input type="number" name="minimum_show_rating" id="minimum" value="9" min="0" max="10" class="numberbox-size">
        </div>
        <button class="button-21" type="submit">Submit</button>
        <button class="button-21" type="reset">Reset</button>
      </form>
    </div>
    
  </body>
</html>